body {
  margin: 0;
  background-color: white;
}
.color-cam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.color-cam-title {
  font-family: "Delius Unicase", cursive;
  font-weight: 900;
  font-size: 32px;
  padding: 7px;
  background: linear-gradient(90deg, #ff5f6d, #ffc371, #47fced, #a076f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 4px 4px 10px rgba(7, 7, 7, 0.5);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.color-cam-wrapper {
  display: flex;
  align-items: center;
}
.video-wrapper {
  position: relative;
  z-index: 0;
  width: 600px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  margin: 50px;
}

.video-wrapper::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#399953, #399953),
    linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33),
    linear-gradient(#377af5, #377af5);
  animation: rotate 4s linear infinite;
}

.video-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}

.color-cam-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.camera {
  position: relative;
  width: 197px;
  height: 100px;
  margin: 3px auto;
  background: #333;
  border-radius: 4px;
}

.button-container {
  position: absolute;
  left: 19px;
  top: 0;
  margin-top: -23px;
  width: 50px;
  height: 30px;
  cursor: pointer;
}
.button {
  width: 34px;
  height: 32px;
  border-radius: 20% 20% 0 0;
  background: #333;
  transition: 0.3s;
}
.camera.clicked .button-container .button {
  margin-top: 30px;
}

.flash {
  position: absolute;
  right: 18px;
  top: 31px;
  margin-top: -70px;
  width: 48px;
  height: 40px;
  background: #333;
  z-index: 60;
}
.flash:before {
  position: absolute;
  content: "";
  right: 7px;
  top: 7px;
  width: 34px;
  height: 28px;
  background: rgba(256, 256, 256, 0.5);
  z-index: 70;
}
.flash:after {
  content: "";
  position: absolute;
  top: -60px;
  left: -50px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #fff;
  opacity: 0;
  transform: scale(0.2, 0.2);
}

.camera.clicked .flash:after {
  animation: flash 0.3s 0.4s forwards;
}
.camera.clicked .flash:before {
  animation: flashbox 0.3s 0.4s;
}
.camera.clicked .shutter:before,
.camera.clicked .shutter:after {
  animation: click 0.6s 0.2s forwards;
}

@keyframes flashbox {
  0%,
  100% {
    background: rgba(256, 256, 256, 0.5);
  }
  50% {
    background: rgba(256, 256, 256, 1);
  }
}
@keyframes flash {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.2, 0.2);
  }
  50% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.shutter {
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.5em 0 0 -2.5em;
  width: 6em;
  height: 5em;
  overflow: hidden;
  transform: translateZ(0);
}
.shutter:before,
.shutter:after {
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  box-shadow: inset 7.6em 0 0 rgba(80, 80, 80, 0.4),
    inset 0 7.6em 0 rgba(120, 120, 120, 0.4),
    inset -7.6em 0 0 rgba(150, 150, 150, 0.4),
    inset 0 -7.6em 0 rgba(220, 220, 220, 0.4);
}

.shutter:after {
  transform: rotate(45deg);
}

.camera.clicked .shutter:before,
.camera.clicked .shutter:after {
  animation: click 0.6s 0.2s forwards;
}

@keyframes click {
  0%,
  100% {
    box-shadow: inset 7.6em 0 0 rgba(80, 80, 80, 0.4),
      inset 0 7.6em 0 rgba(120, 120, 120, 0.4),
      inset -7.6em 0 0 rgba(150, 150, 150, 0.4),
      inset 0 -7.6em 0 rgba(220, 220, 220, 0.4);
  }
  50% {
    box-shadow: inset 0.86em 0 0 rgba(80, 80, 80, 0.4),
      inset 0 0.86em 0 rgba(120, 120, 120, 0.4),
      inset -0.86em 0 0 rgba(150, 150, 150, 0.4),
      inset 0 -0.86em 0 rgba(220, 220, 220, 0.4);
  }
}

.cam-download-title {
  font-family: "Delius Unicase", cursive;
  font-weight: 900;
  font-size: 20px;
  padding: 7px;
  background: linear-gradient(90deg, #ff5f6d, #ffc371, #47fced, #a076f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 4px 4px 10px rgba(7, 7, 7, 0.5);
}
.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.download-photo {
  width: 600px;
  height: 600px;
}
