body {
  margin: 0;
  background-color: white;
}
.color-cam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.color-cam-title {
  font-family: "Delius Unicase", cursive;
  font-weight: 900;
  font-size: 32px;
  padding: 30px;
  background: linear-gradient(90deg, #ff5f6d, #ffc371, #47fced, #a076f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 4px 4px 10px rgba(7, 7, 7, 0.5);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.video-wrapper {
  position: relative;
  z-index: 0;
  width: 600px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.video-wrapper::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#399953, #399953),
    linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33),
    linear-gradient(#377af5, #377af5);
  animation: rotate 4s linear infinite;
}

.video-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}

.color-cam-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}
