body {
  margin: 0;
  background-color: white;
}
.color-cam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.color-cam-title {
  font-family: "Delius Unicase", cursive;
  font-weight: 900;
  font-size: 32px;
  padding: 30px;
  background: linear-gradient(90deg, #ff5f6d, #ffc371, #47fced, #a076f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 4px 4px 10px rgba(7, 7, 7, 0.5);
}
